@import "@/app/vars.module";

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: $spacing-lg;

	@media screen and (max-width: $desktop-width) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: $tablet-width) {
		grid-template-columns: 1fr;
	}
}
