@import "@/app/vars.module";

.container {
	max-width: calc(1440px + ($spacing-md * 2));
	margin: 0 auto;
	padding: 0 $spacing-md;
	height: 100%;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
}
