@import "@/app/vars.module";

.list {
	margin: $spacing-xs auto $spacing-lg;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: $border-radius-full;
	background-color: $surface-main-color;
	padding: $spacing-xs;
	overflow-x: auto;
	overflow-y: hidden;

	@media screen and (max-width: $sm-tablet-width) {
		width: 100%;
	}
}
