@import "@/app/vars.module";

.menu {
	background-color: $background-main-color;
	border-radius: $border-radius-main;
	max-height: 50vh;
	display: flex;
	flex-direction: column;
}

.list {
	display: flex;
	flex-direction: column;
	padding: $spacing-sm 0;
	overflow-y: auto;
	flex-grow: 1;
}
