@import "@/app/vars.module";

.card {
	text-align: center;
	background-color: $surface-main-color;
	padding: $spacing-mega $spacing-xxl;
	transition: background-color $transition-main;
	border-radius: $border-radius-main;

	&:hover {
		color: $primary-contrast-color;
		background-color: $primary-main-color;
	}
}

@media screen and (max-width: $tablet-width) {
	.card {
		padding: $spacing-xxxl $spacing-xl;
	}
}

@media screen and (max-width: $phone-width) {
	.card {
		padding: $spacing-xxl $spacing-lg;
	}
}
