@import "@/app/vars.module";

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: $spacing-xl;
	z-index: 999;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "left center right";
	align-items: center;
	column-gap: $spacing-xl;
	row-gap: $spacing-md;
}

.block--left {
	grid-area: left;
}

.block--center {
	grid-area: center;
	justify-self: center;
}

.block--right {
	grid-area: right;
	justify-self: end;
}

.social-links {
	display: flex;
	align-items: center;
	gap: $spacing-xl;
}

.burger-button-wrapper {
	display: none;
	position: relative;
	z-index: 999;
}

.burger-menu-wrapper {
	display: none;
	position: fixed;
	right: -100%;
	top: 0;
	z-index: 900;
	opacity: 0;
	visibility: hidden;
	transition: all $transition-main;
}

.burger-menu {
	padding-top: $spacing-mega;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

@media screen and (max-width: $tablet-width) {
	.header {
		padding: $spacing-lg;
	}

	.navbar {
		display: none;
	}

	.inner {
		grid-template-areas: "left center" "right right";
		grid-template-columns: 1fr 1fr;
	}

	.block--center {
		justify-self: end;
	}

	.block--right {
		justify-self: center;
	}

	.burger-button-wrapper {
		display: block;
	}

	.burger-menu-wrapper {
		display: block;
	}

	.burger-menu-wrapper--open {
		opacity: 1;
		right: 0;
		visibility: visible;
	}
}

@media screen and (max-width: $phone-width) {
	.header {
		padding: $spacing-md;
	}
}
