@import "normalize.css";
@import "./vars.module";

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	cursor: pointer;
	border: none;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input,
textarea {
	border: none;
}

ul li {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: $font-size-md;
	font-weight: 500;
	letter-spacing: 0.2px;
	color: $text-primary-main-color;
	background-color: $background-main-color;
}
