$background-main-color: #141318;
$background-contrast-color: #ffffff;
$primary-main-color: #0177fd;
$primary-contrast-color: #ffffff;
$secondary-main-color: #ffffff;
$secondary-contrast-color: #000000;
$surface-main-color: #1c1b21;
$surface-contrast-color: #ffffff;
$text-primary-main-color: #a7a6ab;
$text-primary-contrast-color: #ffffff;
$danger-main-color: #f44336;
$danger-contrast-color: #ffffff;
$success-main-color: #00e676;
$success-contrast-color: #ffffff;

$border-radius-main: 5px;
$border-radius-full: 50px;

$box-shadow-main: 0px 16px 25px rgba(1, 119, 253, 0.15);

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;
$spacing-mega: 72px;
$spacing-ultramega: 80px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-mega: 56px;
$font-size-ultramega: 72px;

$transition-main: 0.4s ease;

$desktop-width: 1280px;
$sm-desktop-width: 1024px;
$tablet-width: 768px;
$sm-tablet-width: 640px;
$phone-width: 480px;
$sm-phone-width: 320px;
