@import "@/app/vars.module";

.tab {
	padding: $spacing-md;
	width: 100%;
	cursor: pointer;
	text-align: center;
	transition: background-color $transition-main;
	border-radius: $border-radius-full;
}

.tab--selected {
	background-color: $primary-main-color;
}

.tab--disabled {
	cursor: default;
}

@media screen and (max-width: $phone-width) {
	.tab {
		padding: $spacing-sm;
	}
}
