@import "@/app/vars.module";

.tab {
	padding: $spacing-md;
	width: 50%;
	cursor: pointer;
	text-align: center;
	transition: background-color $transition-main;
	border-radius: $border-radius-full;
}

.tab--selected {
	background-color: $primary-main-color;
}

.tab--disabled {
	cursor: default;
}
