@import "@/app/vars.module";

.input {
	width: 100%;
	font-weight: 500;
	padding-bottom: $spacing-md;
	background-color: transparent;
	border-bottom: 1px solid $text-primary-main-color;
	color: $secondary-main-color;
	font-size: $font-size-md;
	transition: border-color $transition-main;

	&.input--invalid {
		border-color: $danger-main-color;

		&:focus {
			border-color: $danger-main-color;
		}
	}

	&::placeholder {
		color: darken($text-primary-main-color, 20%);
		opacity: 1;
	}

	&:focus::placeholder {
		color: transparent;
	}

	&:focus {
		border-color: $secondary-main-color;
	}
}
