@import "@/app/vars.module";

.typography--variant-h1 {
	font-size: $font-size-ultramega;
	font-weight: 700;

	@media screen and (max-width: $tablet-width) {
		font-size: $font-size-mega;
	}

	@media screen and (max-width: $sm-tablet-width) {
		font-size: $font-size-xxxl;
	}

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-xxl;
	}
}

.typography--variant-h2 {
	font-size: $font-size-mega;
	font-weight: 700;

	@media screen and (max-width: $tablet-width) {
		font-size: $font-size-xxxl;
	}

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-xxl;
	}
}

.typography--variant-h3 {
	font-size: $font-size-xxxl;
	font-weight: 700;

	@media screen and (max-width: $tablet-width) {
		font-size: $font-size-xxl;
	}

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-xl;
	}
}

.typography--variant-h4 {
	font-size: $font-size-xxl;
	font-weight: 700;
}

.typography--variant-h5 {
	font-size: $font-size-xl;
	font-weight: 700;
}

.typography--variant-h6 {
	font-size: $font-size-lg;
	font-weight: 500;

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-md;
	}
}

.typography--variant-subheading1 {
	font-size: $font-size-md;
	font-weight: 700;
}

.typography--variant-subheading2 {
	font-size: $font-size-sm;
	font-weight: 700;
}

.typography--variant-body1 {
	font-size: $font-size-md;
	font-weight: 500;

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-sm;
	}
}

.typography--variant-body2 {
	font-size: $font-size-sm;
	font-weight: 500;
}

.typography--variant-button {
	font-size: $font-size-md;
	font-weight: 600;

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-sm;
	}
}

.typography--variant-link {
	font-size: $font-size-md;
	font-weight: 600;

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-sm;
	}
}

.typography--variant-tab {
	font-size: $font-size-md;
	font-weight: 600;

	@media screen and (max-width: $phone-width) {
		font-size: $font-size-sm;
	}
}

.typography--color-primary-main {
	color: $primary-main-color;
}
.typography--color-primary-contrast {
	color: $primary-contrast-color;
}

.typography--color-secondary-main {
	color: $secondary-main-color;
}
.typography--color-secondary-contrast {
	color: $secondary-contrast-color;
}

.typography--color-surface-main {
	color: $surface-main-color;
}
.typography--color-surface-contrast {
	color: $surface-contrast-color;
}

.typography--color-background-main {
	color: $background-main-color;
}
.typography--color-background-contrast {
	color: $background-contrast-color;
}

.typography--color-success-main {
	color: $success-main-color;
}
.typography--color-success-contrast {
	color: $success-contrast-color;
}

.typography--color-danger-main {
	color: $danger-main-color;
}
.typography--color-danger-contrast {
	color: $danger-contrast-color;
}

.typography--color-textPrimary-main {
	color: $text-primary-main-color;
}
.typography--color-textPrimary-contrast {
	color: $text-primary-contrast-color;
}

.typography--color-inherit {
	color: inherit;
}

.typography--no-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.typography--text-transform-uppercase {
	text-transform: uppercase;
}

.typography--text-transform-lowercase {
	text-transform: lowercase;
}

.typography--text-transform-capitalize {
	text-transform: capitalize;
}
